<!DOCTYPE html>>
<html>

<head>
    <title>
        Welcome to BAS
    </title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/BAS.js"></script>

    <link rel="stylesheet" href="/css/bas.css">
    <!-- #region 
        
        <link rel="stylesheet" href="/css/bootstrap.css">
        
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="nav">

        <div class="col-sm nav-align">
            <h1> Welcome to BAS </h1>
        </div>
        <div class="col-sm nav-align">
            <a href="/homepage">
                <span class="button">Homepage</span>
            </a>
            <a href="/posts">
                <span class="button">Recent Posts</span>
            </a>
            <a href="/friends">
                <span class="button">Friends</span>
            </a>
            <a href="/notifications">
                <span class="button">Notifications</span>
            </a>
            <!-- 
            <a href="signup.html">
                <span class="button">Sign-up</span>
            </a>
            <a href="signin.html">
                <span class="button">Sign-in</span>
            </a>
            -->
            <a href="/">
                <span class="button">Sign In/Up</span>
            </a>
            <%- include('users/_usersModal') %>
            
        </div>

        <div class="login">
            <% if(loggedIn) { %>
            <p> Logged in as <a href="<%= `/users/${currentUser._id}`%>">
            <%= currentUser.fname +" " + currentUser.lname %>
            </a>
            <a href="/users/logout">Log out
            </a>
            <%} else { %>
            <a href="/signin">Log in</a>
            <% } %>
        </div>

        <div class="flashes">
            <% if(flashMessages) { %>
                <% if(flashMessages.success){ %>
                    <div class="flash success">
                        <%= flashMessages.success %>
                    </div>
                    <% } else if(flashMessages.error){ %>
                        <div class="flash error">
                            <%= flashMessages.error %>
                        </div>
                    <% } %>
            <% } %>
        
        <!--

        </div>

            <a href="/users/login">Log in</a>
        </div>
        -->
        
    </div>
    <%- body%>
</body>

</html>