<div class="container">
    <div class="list-container">
        <% users.forEach(us=>{ %>
            <div class="user">
                <p>
                    <span class="item-label">
                        <%= us.fname %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.lname %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.username %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.gender %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.location %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.email %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.namepassword %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.namepasswordConfirm %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.dob %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.questions %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.question1 %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.namebio %>
                    </span>
                </p>



            </div>



        <% }); %>


    </div>

</div>