<div class="container">
    <div class="list-container">
        <% users.forEach(us=>{ %>
            <div class="user">
                <p>
                    <span class="item-label">
                        Full Name: <%= us.fname+ " " + us.lname %>
                    </span>
                </p>
                
                <p>
                    <span class="item-label">
                        Username: <%= us.username %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        Gender: <%= us.gender %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        Location: <%= us.location %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.email %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        Password:<%= us.namepassword %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        Confirmed Passedword: <%= us.namepasswordConfirm %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.dob %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.questions %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.question1 %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <%= us.namebio %>
                    </span>
                </p>



            </div>



        <% }); %>


    </div>

</div>