<h2 class="center">post Data for <%= post.title %></h2>
<table class="table">
    <tbody>
        <tr>
            <td>Title</td>
            <td>
                <%= post.title %>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <%= post.description %>
            </td>
        </tr>
        <tr>
            <td>Maximum number of students</td>
            <td>
                <%= post.maxStudents %>
            </td>
        </tr>
        <tr>
            <td>Cost</td>
            <td><%= post.cost %></td>
        </tr>

    </tbody>
</table>